<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2beac9e5-367b-4ddf-9596-758b97463c50/resourcegroups/RSSMS/providers/Microsoft.Web/sites/RSSMSAPI20220426221036</ResourceId>
    <ResourceGroup>RSSMS</ResourceGroup>
    <ApiResourceId>/subscriptions/2beac9e5-367b-4ddf-9596-758b97463c50/resourceGroups/DefaultResourceGroup-CAU/providers/Microsoft.ApiManagement/service/RSSMSAPIapi/apis/RSSMSAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rssmsapi20220426221036.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>71ad2722-672d-4ce2-86da-f76cd04e97c3</ProjectGuid>
    <MSDeployServiceURL>rssmsapi20220426221036.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RSSMSAPI20220426221036</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$RSSMSAPI20220426221036</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>